.section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.body {
	background-color: white;
	margin: 0;
}
.submit{
    float:right;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Wix Madefor Text', sans-serif;
    margin: 0 10px;
    width: 8rem;
    padding: 10px 0;
    transition: 0.4s;
    color: #FF9100;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #FF9100;
}
.submit:hover {
    color: white;
    background-color: #FF9100;
}

.form {
	display: block;
	margin: auto;
	width:75%;
	margin-bottom: 15vw;
	padding: 2rem 4rem 6rem 4rem;
	background-color: rgb(251, 251, 251);
	font-family: 'Wix Madefor Text', sans-serif;
	border-radius:25px;
}

.admin {
	display: block;
	width: 100%;
	padding: 2vw;
	background-color: rgb(245, 245, 245);
}
.question {
	margin: 2.5vh;
	padding: 0.25rem;
	/* background-color: rgb(245, 245, 245); */
	border-radius: 20px;
}

.label {
	font-size: 1rem;
	margin-bottom: 8px;
}

.number {
	font-size: 2.5vh;
}

.input {
	display: block;
	border-radius: 0px;
	width: 35%;
	padding: 6px;
	border: solid rgb(155, 155, 155) 1.2px;
	box-shadow: 0.5px 0.5px rgb(155, 155, 155);
	margin-top: 10px;
	border-radius:10px;
}
.inputLogin {
	display: block;
	border-radius: 0px;
	width: 40%;
	padding: 4px;
	border: solid rgb(155, 155, 155) 1.2px;
	margin-top: 10px;
}

.inputBox {
	display: block;
	width: 35vw;
	height: 8rem;
	border: solid rgb(155, 155, 155) 1.2px;
	margin-top: 1rem;
	border-radius:10px;
	overflow-y: scroll;
	margin-bottom:1rem;
}

.star {
	color: rgb(223, 2, 2);
	font-size: 2vh;
}

.subtitle {
	font-size: 1.5rem;
}

.disclaimer{
	line-height: 1.5;
	width:75%;
	padding-bottom:1rem;
}

.deadline{
	color: rgb(223, 0, 0);
	font-weight:600;
}

#btnMenu {
	position:relative;
	width:10rem;
	font-size:0.8rem;
	text-align:center;
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.input {
		width: 70%;
		padding: 3px;
	}
	.inputBox {
		width: 70%;
		height: 10vw;
	}
}

@media only screen and (max-width: 768px) {
	.form {
		width:70%;
		padding-bottom: 22vw;
		margin-bottom: 10rem;
	}
	.admin {
		width: 100%;
	}
	.inputLogin {
		display: block;
		border-radius: 0px;
		width: 80%;
		padding: 4px;
		border: solid rgb(155, 155, 155) 1.2px;
		margin-top: 10px;
	}
	.disclaimer{
		width:100%;
	}
}

@media only screen and (max-width: 425px) {
	.input {
		width: 100%;
	}
	.form {
		padding: 2rem;
		width:80%;
		padding-bottom:5rem;
	}
	.inputBox {
		width: 100%;
		height:8rem;
	}
}
