.logo {
	width: 45vh;
	padding: 5px;
	display: block;
	margin: auto;
}
.eventName {
	text-align: center;
	font-family: 'Wix Madefor Text', sans-serif;
	color: #3c2414;
	margin: 2%;
	font-size: 2.1rem;
}

@media only screen and (max-width: 425px) {
	.logo {
		width: 80%;
	}
	.eventName {
		font-size: 1.5rem;
	}
}
